
<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<link rel='stylesheet' type='text/css' href='/stylesheets/clientForm.css'>
<script type='text/javascript' src='/scripts/clientForm.js'></script> <!--local script source-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- hosted jquery on client side -->

<div style='margin-top: 10em; margin-bottom: 1em;' class='container-fluid'>
  <div class="col-md-12">
  <div class="col-md-10 col-md-offset-1 jumbotron">
    <h3 class="dark-grey">Add New Address</h3>
    <% if (errors[0].msg !== 'hi') { %>
      <% if (errors[errors.findIndex(x => x.param == 'userExists')] ) { %>
        <div class="alert alert-danger fade in">
          <p><strong> Sorry! </strong></p>
          <p> <%= errors[0].msg %> </p>
          <a href='/login'> Login Instead? </a>
        </div>
      <% } else { %>
        <div class="alert alert-danger fade in">
          <p><strong> Sorry! Please fix the following errors </strong></p>
            <ul class="list">
              <% errors.forEach(function(error){ %>
                <li><%= error.msg %></li>
              <% }) %>
            </ul>
        </div>
    <% }} %>

    <form action='/user/address/new' method='POST'  id="contact_form">

    <div class="row">
      <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <label>Unit #</label>
        <div class='input-group'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input
          type="text"
          name="unitNumber"
          class="form-control"
          id=""
          placeholder="unit #"
          value='<%= user.unitNumber %>'
          >
        </div>
      </div>

      <div class="form-group required control-label col-lg-2 col-md-2 col-sm-3 col-xs-6">
        <label>Street #</label>
        <div class='input-group'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input
          type="text"
          name="streetNumber"
          class="form-control"
          id=""
          placeholder="street #"
          required
          value='<%= user.streetNumber %>'
          >
        </div>
      </div>

      <div class="form-group required control-label col-lg-8 col-md-8 col-sm-6">
        <label>Street Name</label>
        <div class='input-group'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input
          type="text"
          name="streetName"
          class="form-control"
          id=""
          placeholder="street address"
          required
          value='<%= user.streetName %>'
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group required control-label col-lg-6 col-md-8 col-sm-7">
        <label>City / Suburb</label>
        <div class='input-group'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input
          type="text"
          name="suburb"
          class="form-control"
          id=""
          placeholder="suburb"
          required
          value='<%= user.suburb %>'
          >
        </div>
      </div>

      <div class="form-group required control-label col-lg-3 col-md-2 col-sm-3 col-xs-6">
        <label class='col-form-label'>Post Code</label>
        <div class='input-group'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input
          type="text"
          name="postCode"
          class="form-control"
          id=""
          placeholder="postcode"
          required
          value='<%= user.postCode %>'
          >
        </div>
      </div>

      <div class="form-group required control-label col-lg-3 col-md-2 col-sm-2 col-xs-6">
        <label>State</label>
        <div class='input-group required'>
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="state" class="form-control" required>
          <option value='<%= user.state %>' ><%= user.state %></option>
          <option value="NSW">NSW</option>
          <option value="QLD">QLD</option>
          <option value="VIC">VIC</option>
          <option value="ACT">ACT</option>
          <option value="WA">WA</option>
          <option value="NT">NT</option>
          <option value="TAS">TAS</option>
        </select>
      </div>
      </div>
    </div>

    <div style='margin-top: 2em;' class='col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4'>
      <div class="form-group">
        <button type="submit" class="btn-lg btn-primary btn-block">Submit</button>
      </div>
    </div>
  </div>
  </form>
  </div>
    </div>

</div>

<% include partials/footer.ejs %>
